form input,
form textarea {
  display: block;
  width: 50rem;
  padding: 2rem;
  background-color: #252627;
  border: 3px solid #707070;
  margin: 2rem 0;
  outline: none;
  font-size: 1.6rem;
  color: #fff;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

form input:last-child {
  width: 15rem;
  background-color: #ed5565;
  border: none;
  cursor: pointer;
}

// #submit_button {
//   width: 20rem;
//   height: 5rem;
//   border-radius: 5rem;
//   background-color: #ed5565;
//   border: none;
// }
